td {
  padding-left: 10px;
  padding-top: 5px;
}
h2 {
  font-family: 'Roboto', sans-serif;
}
/* button {
  background-color: lightgray;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px;
  margin: 5px;
} */
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.info {
  color: blue;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
